<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Word Counter</title>
  </head>
  <body>
    <div class='container'>
      <h1>Did I already say that?</h1>
      <form action='/result'>
        <div class='form-group'>
          <label for='word'>Word:</label>
          <input id='word' name='word' class='form-control' type='text'  required>
        </div>
        <div class='form-group'>
          <label for='phrase'>Phrase:</label>
          <input id='phrase' name='phrase' class='form-control' type='text' required>
        </div>
          <button type='submit' class='btn-success'>Count me!</button>
      </form>
    </div>
  </body>
</html>
