
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Word Counter</title>
  </head>
  <body>
    <div class='container'>
      <div class="well">
        <h1>Did I already say that?</h1>
        <h5>Enter a phrase along with one word you would like check to see how many times you said it.</h5>
        <form action='/result'>
          <div class='form-group'>
            <label for='word'>Word:</label>
            <input id='word' name='word' class='form-control' type='text'  required>
          </div>
          <div class='form-group'>
            <label for='phrase'>Phrase:</label>
            <input id='phrase' name='phrase' class='form-control' type='text' required>
          </div>
          <button type='submit' class='btn-success'>Count me!</button>
        </form>

      </div>
    </div>
  </body>
</html>
