<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/styles.css">
    <title>Your Lucky Number</title>
  </head>
  <body>
    <div class='container'>
        <div class='jumbotron'>
            <p>yooooo, you said <strong><em>that</em></strong> {{ count }} times... must be your magic number</p>
        </div>
    </div>
  </body>
</html>
