<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Your Lucky Number</title>
  </head>
  <body>
    <div class='container'>
      <div class='jumbotron'>
        <p> {{ input }} {{ count }} </p>
        <a href='/'>Back to Counting Sheep</a>
      </div>
    </div>
  </body>
</html>
