body {
    background-image: url(/../img/sheep.jpg);
}

h1 {
    text-align: center;
}

.display {
    text-align: center;
}

.jumbotron {
    background: rgba(242, 242, 242, 0.5);
    text-align: center;
}

.well {
    background: rgba(242, 242, 242, 0.5);
}

h5 {
    text-align: center;
    font-style: italic;
}
